body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.datosautomatas {
  width: 600px;
  height: 840px;
  background: rgba(red, green, blue, alpha);
  color: white;
  left: 20%;
  padding: 70px 30px;
}

.datosautomatas label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
  color: black;
}

.datosautomatas p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
  color: black;
}

.datosautomatas .datosautomatas_2 h4 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
  color: black;
}

.datosautomatas input {
  width: 100%;
  margin-bottom: 20px;
}
