<<<<<<< HEAD
body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
    background-color: #d6eaf8;
}

textarea {
    height: 200px;
    width: 200px;
}

ul {
    list-style: none;
}

ul li {
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
}

#Automata_1 {
    background-color: rgba(99, 99, 99, 0.751);
    margin: 0px;
    color: white;
    padding: 10px;
    border: black 2px solid;
    border-right: transparent;
}

#Automata_2 {
    background-color: rgba(201, 201, 201, 0.751);
    margin: 0px;
    padding: 10px;
    color: black;
    border: black 2px solid;
}

#bt_simular {
    color: white;
    font-size: 24px;
    border-radius: 2px;
=======
body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
    background-color: #d6eaf8;
}

textarea {
    height: 200px;
    width: 200px;
}

ul {
    list-style: none;
}

ul li {
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
}

#Automata_1 {
    background-color: rgba(99, 99, 99, 0.751);
    margin: 0px;
    color: white;
    padding: 10px;
    border: black 2px solid;
    border-right: transparent;
}

#Automata_2 {
    background-color: rgba(201, 201, 201, 0.751);
    margin: 0px;
    padding: 10px;
    color: black;
    border: black 2px solid;
}

#bt_simular {
    color: white;
    font-size: 24px;
    border-radius: 2px;
>>>>>>> 4c688d9b2b376770fc1bd593586d97d4c80d6075
}